html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242424;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50px;
}

img.linkedIn {
    width: 40px !important;
    height: 40px !important;
}

img.github {
    width: 40px !important;
    height: 40px !important;
}

hr.grey {
    border-top: 3px solid #242424;
}

.link-decoration {
    text-decoration: none !important;
}

.p-minium {
    font-size: .8rem;
}

.col-hr {
    padding: inherit !important;
}

.card {
    border-radius: 0.5rem;
}

.img-icon {
    max-width: 1rem;
    height: auto;
}
