@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

html{
  overflow-y:hidden;
  overflow-x:hidden;
}

body{
  margin: 0px;
  color: #FFFAFA !important;
  background-image: linear-gradient(to right, #121212, #121212);
}

h5 {
  font-family: 'DM Sans', sans-serif;
}

.size {
  height: 42px;
  width: 42px;
}

.margin-top {
  margin-top: 1.25rem;
}

.border-container {
  border: 1px solid #FFFAFA;
}
