@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

html{
  overflow-y:hidden;
  overflow-x:hidden;
}

body{
  margin: 0rem;
  color: #FFFAFA !important;
  background-color: #121212 !important;
}

h2 {
  font-family: 'DM Sans', sans-serif;
}

.icon-size {
  height: 32px;
  width: 32px;
}

.margin-top-20-px {
  margin-top: 1.25rem !important;
}

.margin-top-40-px {
  margin-top: 2.5rem !important;
}

.margin-left {
  margin-left: 1.563rem !important;
}
